body {
  padding: 2em;
  list-style-type: none;
  font-family: 'Helvetica', Courier;
  font-weight: 100;
}

h1 {
  font-weight: 900;
 /* text-align: center;*/
  color: #7F7F7F;
}

h2 {
  font-weight: 600;
}

h3 {
  font-weight: 300;
}

li {
  padding: 1em;
  list-style-type: none;
}

a {
  color: #5E97F5;
}


.counter--food {
  color: blue;
}

.counter--drink {
  color: red;
}

.error {
  padding: 1em;
  margin: 1em 0;
  border-radius: 5px;
  border: 1px solid #6E7CFD; /*blue*/
}

.error--warning {
  border: 1px solid #FD9DA1; /*red*/
}

.error--invalid {
  border: 1px solid #76B176; /*green*/
}

.left {
  text-align: none;
}
